<!DOCTYPE html>
<html lang="en">
<head>
    {%load static%}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">

</head>
<body>

        {% block content %}
        <h1>Edit Contact</h1>
        
        <form method="POST">
            {% csrf_token %}
            
            <div>
            <label for="name">Name:</label>
            <input type="text" id="name" name="name" value="{{ contact.name }}" required>
            </div>
            
            <div>
            <label for="phone">Phone:</label>
            <input type="text" id="phone" name="phone" value="{{ contact.phone }}" required>
            </div>
            
            <div>
            <label for="email">Email:</label>
            <input type="email" id="email" name="email" value="{{ contact.email }}" required>
            </div>
            
            <div>
            <button type="submit">Save</button>
            </div>
        </form>
        
        <a href="{% url 'list_contacts' %}">Back to Contact List</a>
        {% endblock %}

</body>
</html>